:root {
  --accent-color: #2196F3;
  --contacts-descr-color: #757575;
  --dark-bg-color: #2F303A;
  --light-bg-color: #F5F4FA;
  --btn-bg-color: #188CE8;
  --main-light-color: #FFFFFF;
  --logo-accent-color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

h1,
h2,
h3,
h4,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
  color: #212121;
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
.secondary-header {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}
.mobile-menu {
  position: fixed;
  height: 100vh;
  max-width: 767px;
  z-index: 1000;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms linear, visibility 500ms linear;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding-left: 25px;
  padding-top: 48px;
  padding-bottom: 48px;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.mobile-menu__close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
  height: 40px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-menu__close-btn:hover, .mobile-menu__close-btn:focus {
  fill: var(--accent-color);
}

.mobile-nav {
  margin-bottom: auto;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-nav__link:hover, .mobile-nav__link:focus {
  color: var(--accent-color);
}

.mobile-nav__link-current {
  color: var(--accent-color);
}

.mobile-contacts {
  margin-bottom: 64px;
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-contacts__phone-number {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
  margin-top: 302px;
  margin-bottom: 32px;
}

.mobile-contacts__email {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--contacts-descr-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 64px;
}
.mobile-contacts__email:hover, .mobile-contacts__email:focus {
  color: var(--accent-color);
}

.social-mobile {
  display: flex;
  row-gap: 20px;
  flex-wrap: wrap;
}

.social-mobile__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.23;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.social-mobile__item:not(:last-child) .social-mobile__link::after {
  display: block;
  content: "";
  width: 22px;
  height: 1px;
  background-color: rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

@media screen and (min-width: 767px) {
  .mobile-menu {
    display: none;
  }
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
.modal {
  position: absolute;
  background-color: var(--main-light-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #000000;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 0;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover, .modal-close-btn:focus {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}
@media screen and (max-width: 767px) {
  .modal-phrase {
    width: 370px;
    flex-wrap: wrap;
  }
  .modal-form-check-desc {
    font-size: 12px;
    line-height: 1.17;
  }
}
.modal-phrase {
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  align-items: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-input-desc {
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  color: #000000;
  font-size: 16px;
  font-family: Roboto, sans-serif;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-message {
  width: 100%;
}

.modal-input-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:focus + .modal-input-icon {
  fill: var(--accent-color);
}

.modal-input-wrapper {
  display: block;
  position: relative;
}

.modal-form-message {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}
.modal-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: #757575;
  margin: 0px auto 20px;
}
.modal-form-check-desc::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  cursor: pointer;
  margin-right: 7px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-check:checked + .modal-form-check-desc::before {
  background-color: var(--accent-color);
  background-image: url(../images/fake-check.svg);
  border-color: var(--accent-color);
  background-repeat: no-repeat;
  background-position: center;
}
.modal-form-check:focus + .modal-form-check-desc::before {
  border-color: var(--accent-color);
  outline: none;
}

.modal-check-terms {
  color: var(--accent-color);
  text-decoration: underline;
}

.modal-form-submit {
  display: block;
  min-width: 200px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  background: var(--accent-color);
  box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
  align-self: center;
  margin-bottom: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-submit:hover,
.modal-form-submit:focus {
  background-color: var(--btn-bg-color);
}

@media screen and (min-width: 768px) {
  .modal-form-check-desc {
    font-size: 12px;
    line-height: 1.17;
  }
}
@media screen and (min-width: 1200px) {
  .modal-phrase {
    width: 448px;
  }
  .modal-form-check-desc {
    width: 425px;
    font-size: 14px;
    line-height: 1.71;
    margin: 0px auto 30px;
  }
}
@media screen and (max-width: 767px) {
  .menu {
    display: none;
  }
  .contacts {
    display: none;
  }
  .mobile-menu-open {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--logo-accent-color);
}

.logo__web {
  color: var(--accent-color);
}

.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid #ECECEC;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open {
    display: none;
  }
  .page-navigation {
    display: flex;
    align-items: center;
  }
  .page-header__logo {
    margin-right: 87px;
  }
  .menu {
    display: flex;
  }
  .menu__item {
    position: relative;
  }
  .menu__item:not(:last-child) {
    margin-right: 50px;
  }
  .menu__link {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu__link:hover, .menu__link:focus {
    color: var(--accent-color);
  }
  .menu__link_current {
    color: var(--accent-color);
  }
  .menu__link.menu__link_current::after {
    position: absolute;
    bottom: -28px;
    content: "";
    display: block;
    width: 47px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
  }
  .contacts {
    margin-left: auto;
  }
  .contacts__email {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--contacts-descr-color);
    margin-bottom: 10px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__email:hover, .contacts__email:focus {
    color: var(--accent-color);
  }
  .contacts__email-icon {
    display: flex;
    align-items: center;
    fill: #757575;
    width: 14px;
    height: 10px;
    margin-right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__email:hover .contacts__email-icon, .contacts__email:focus .contacts__email-icon {
    fill: var(--accent-color);
  }
  .contacts__phone-number {
    display: flex;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--contacts-descr-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__phone-number:hover, .contacts__phone-number:focus {
    color: var(--accent-color);
  }
  .contacts__phone-icon {
    display: flex;
    align-items: center;
    fill: #757575;
    width: 10px;
    height: 14px;
    margin-right: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__phone-number:hover .contacts__phone-icon, .contacts__phone-number:focus .contacts__phone-icon {
    fill: var(--accent-color);
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
  .logo__web {
    color: var(--accent-color);
  }
  .page-header {
    padding-top: 24px;
    padding-bottom: 25px;
  }
  .page-header-container {
    justify-content: flex-start;
  }
  .page-header__logo {
    margin-right: 93px;
  }
  .menu__link.menu__link_current::after {
    bottom: -34px;
  }
  .contacts {
    display: flex;
  }
  .contacts__email {
    font-size: 14px;
    line-height: 1.14;
    margin-right: 30px;
    margin-bottom: 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contacts__email:hover, .contacts__email:focus {
    color: var(--accent-color);
  }
  .contacts__email-icon {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
  .contacts__email:hover .contacts__email-icon, .contacts__email:focus .contacts__email-icon {
    fill: var(--accent-color);
  }
  .contacts__phone-number {
    font-size: 14px;
    line-height: 1.14;
  }
  .contacts__phone-icon {
    height: 16px;
    margin-right: 10px;
  }
  .contacts__phone-number:hover .contacts__phone-icon, .contacts__phone-number:focus .contacts__phone-icon {
    fill: var(--accent-color);
  }
}
/*

.menu__link_current-portfolio {
    color: var(--accent-color);
}

.menu__link.menu__link_current-portfolio::after {
    position: absolute;
    bottom: -34px;
    content: '';
    display: block;
    width: 78px;
    height: 4px;
    border-radius: 2px;
    background-color: var(--accent-color);
}



*/
@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile/mobile-bg-image.jpg");
    max-width: 767px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/mobile/mobile-bg-image@2x.jpg");
  }
}
.hero {
  background-color: #C4C4C4;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  padding-top: 118px;
  padding-bottom: 118px;
}

.main-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  color: var(--main-light-color);
  text-transform: uppercase;
  letter-spacing: 0.06em;
  text-align: center;
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.hero__modal-btn {
  align-items: center;
  text-align: center;
}

.modal-btn {
  padding: 10px 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--main-light-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-btn:hover, .modal-btn:focus {
  background-color: var(--btn-bg-color);
}

@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet/tablet-bg-image.jpg");
    max-width: 1199px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet/tablet-bg-image@2x.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desktop/desktop-bg-image.jpg");
    max-width: 1600px;
    padding: 200px 0px 200px;
  }
  .main-title {
    font-size: 44px;
    line-height: 1.36;
    max-width: 696px;
  }
  .modal-btn {
    padding: 10px 32px;
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desktop/desktop-bg-image@2x.jpg");
  }
}
@media screen and (max-width: 767px) {
  .features-point {
    margin-bottom: 30px;
    max-width: 450px;
  }
  .features-link {
    width: 100%;
    height: 120px;
  }
}
.features-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-bg-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.feature-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  text-align: center;
}

.feature-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--contacts-descr-color);
}

@media screen and (min-width: 768px) {
  .features {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  .features-point {
    flex-basis: calc((100% - 30px) / 2);
    max-width: 354px;
  }
  .features-icon {
    margin: 25px 142px;
  }
  .feature-name {
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    flex-wrap: nowrap;
  }
  .features-point {
    flex-basis: calc((100% - 60px) / 3);
  }
  .features-link {
    width: 270px;
    height: 120px;
  }
  .features-icon {
    margin: 25px 100px;
  }
}
@media screen and (max-width: 1199px) {
  .activities-section {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .activities-section {
    padding-top: 0px;
  }
  .secondary-header {
    font-size: 36px;
    margin-bottom: 50px;
  }
  .activities {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  .activity-item {
    flex-basis: calc((100% - 60px) / 3);
    display: block;
    position: relative;
  }
  .overlay-activity {
    position: absolute;
    transform: translateY(-100%);
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-light-color);
    background-color: rgba(47, 48, 58, 0.8);
    width: 100%;
    padding: 27px;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  .workers-card:not(:last-child) {
    margin-bottom: 30px;
  }
  .workers {
    flex-wrap: wrap;
    gap: 30px;
    text-align: center;
    justify-content: center;
  }
  .workers-card {
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
  }
}
.workers-card-descr {
  padding-top: 30px;
  padding-bottom: 24px;
}

.gallery-workers {
  background: var(--light-bg-color);
}

.workers-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  padding-bottom: 10px;
  text-align: center;
}

.position-descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--contacts-descr-color);
  margin-bottom: 16px;
  text-align: center;
}

.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #FFFFFF;
  fill: #AFB1B8;
}

@media screen and (min-width: 768px) {
  .workers {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  .workers-card {
    flex-basis: calc((100% - 30px) / 2);
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .workers-card {
    flex-basis: calc((100% - 90px) / 4);
    width: 270px;
    margin-bottom: 0;
  }
  .workers-card-descr {
    padding-bottom: 30px;
  }
  .social-list-link {
    color: #AFB1B8;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-link:hover, .social-list-link:focus {
    background-color: var(--accent-color);
  }
  .social-list-icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon {
    fill: var(--main-light-color);
  }
}
@media screen and (max-width: 767px) {
  .clients {
    flex-wrap: wrap;
  }
  .clients-item {
    flex-basis: calc((100% - 30px) / 2);
  }
}
.clients {
  display: flex;
  gap: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 210px;
  height: 92px;
  background-color: #FFFFFF;
  border: 1px solid;
  border-color: #AFB1B8;
  border-radius: 4px;
}

.clients-icon {
  display: flex;
  width: 106px;
  height: 60px;
  fill: #AFB1B8;
}

@media screen and (min-width: 768px) {
  .clients {
    flex-wrap: wrap;
  }
  .clients-item {
    flex-basis: calc((100% - 60px) / 3);
  }
  .clients-link {
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .clients-item {
    flex-basis: calc((100% - 150px) / 6);
  }
  .clients-link {
    width: 170px;
    height: 92px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-link:hover, .clients-link:focus {
    border-color: var(--accent-color);
  }
  .clients-icon {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .clients-link:hover .clients-icon, .clients-link:focus .clients-icon {
    fill: var(--accent-color);
  }
}
@media screen and (max-width: 767px) {
  .contacts-footer__adress {
    display: block;
  }
  .contacts-footer__email {
    display: block;
  }
  .contacts-footer__phone-number {
    display: block;
  }
  .contacts-footer {
    text-align: center;
  }
  .page-footer__logo {
    padding-top: 60px;
  }
  .subscr-block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .subscribe-call {
    text-align: center;
  }
  .subscr-block__btn {
    margin: 20px 140px 60px;
  }
  .subscr-block__email-input {
    width: 100%;
  }
  .footer-container {
    min-height: 603px;
  }
}
.page-footer {
  background: var(--dark-bg-color);
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;
  text-align: center;
}

.logo__studio {
  color: var(--main-light-color);
}

.contacts-footer__adress {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-light-color);
}

.contacts-footer__email {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 8px;
}

.contacts-footer__phone-number {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 9px;
}

.join-block {
  display: block;
  margin-top: 60px;
  align-items: center;
}

.join-social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
  margin-top: 20px;
}

.join-social-list__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--main-light-color);
}

.join-call {
  display: block;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-light-color);
  text-align: center;
}

.join-social-list__icon {
  fill: var(--main-light-color);
}

.subscribe-call {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-light-color);
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.subscr-block__email-input {
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding-left: 16px;
  background: none;
  color: var(--main-light-color);
  font-size: 16px;
  font-family: Roboto, sans-serif;
  margin-top: 20px;
}

.subscr-block__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 200px;
  box-shadow: 0px 4px rgba(0, 0, 0, 0.25);
}

.subscr-block__icon {
  margin-left: 12px;
}

@media screen and (min-width: 767px) and (max-width: 1199px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .page-footer__logo {
    margin-top: 60px;
    text-align: center;
  }
  .contacts-footer {
    text-align: center;
  }
  .subscr-block {
    display: block;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .subscribe-call {
    margin-top: 60px;
    text-align: center;
  }
  .subscr-block__email-input {
    width: 450px;
  }
  .subscr-block__btn {
    display: flex;
    margin: 20px auto 60px;
  }
}
@media screen and (min-width: 1200px) {
  .page-footer__logo {
    display: flex;
    margin-top: 60px;
  }
  .contacts-footer__adress {
    display: flex;
  }
  .contacts-footer__adress:hover, .contacts-footer__adress:focus {
    color: var(--accent-color);
  }
  .contacts-footer__email {
    display: flex;
  }
  .contacts-footer__email:hover, .contacts-footer__email:focus {
    color: var(--accent-color);
  }
  .contacts-footer__phone-number {
    display: flex;
  }
  .contacts-footer__phone-number:hover, .contacts-footer__phone-number:focus {
    color: var(--accent-color);
  }
  .footer-container {
    display: flex;
    align-items: baseline;
  }
  .join-block {
    margin-left: 70px;
    margin-top: 72px;
  }
  .join-social-list {
    margin-bottom: 100px;
  }
  .join-social-list__link {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .join-social-list__link:hover, .join-social-list__link:focus {
    background-color: var(--accent-color);
  }
  .join-social-list__icon {
    fill: var(--main-light-color);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .join-social-list__link:hover .join-social-list__icon, .join-social-list__link:focus .join-social-list__icon {
    fill: var(--main-light-color);
  }
  .subscr-block {
    display: flex;
    margin-left: 93px;
  }
  .subscribe-call {
    margin-left: 93px;
    margin-bottom: 20px;
  }
  .subscr-block__email-input {
    display: flex;
    width: 358px;
    margin-right: 12px;
    margin-top: 0;
    margin-bottom: 94px;
  }
  .subscr-block__btn {
    display: flex;
    padding: 10px 28px;
    margin-bottom: 94px;
  }
}
@media screen and (max-width: 767px) {
  .navigation-list {
    flex-wrap: wrap;
    max-width: 326px;
  }
  .gallery-works {
    display: block;
    flex-wrap: wrap;
  }
  .gallery-item {
    width: 100%;
  }
}
.navigation-list {
  display: flex;
  gap: 8px;
  margin-bottom: 40px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-item:focus {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navigation-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border: none;
  text-align: center;
  letter-spacing: 0.03em;
  background: var(--light-bg-color);
  border-radius: 4px;
  padding: 6px 22px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-btn:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  color: var(--main-light-color);
}

.gallery-item {
  background: #FFFFFF;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 30px;
}
.gallery-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.gallery-item-descr {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  border-top: none;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.project-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--contacts-descr-color);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--main-light-color);
  background-color: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  overflow: auto;
  transform: translate(0, 100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.gallery-item:hover .overlay {
  transform: translate(0, 0);
}

.gallery-overlay-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .navigation-list {
    flex-wrap: nowrap;
    min-width: 575px;
    justify-content: center;
    margin-bottom: 30px;
  }
  .gallery-works {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
  }
  .gallery-item {
    width: 354px;
    flex-basis: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
  .gallery-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
}
@media screen and (min-width: 1200px) {
  .navigation-list {
    margin-bottom: 50px;
  }
  .navigation-list-item:hover,
.navigation-list-item:focus {
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .navigation-btn {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .navigation-btn:hover {
    background-color: var(--accent-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    color: var(--main-light-color);
  }
  .gallery-item {
    width: 370px;
    flex-basis: calc((100% - 60px) / 3);
  }
  .gallery-item:hover, .gallery-item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    cursor: pointer;
  }
  .gallery-item:hover.overlay {
    transform: translate(0, 0);
  }
}/*# sourceMappingURL=main.css.map */