
@media screen and (max-width: 767px) {
    .features-point {
        margin-bottom: 30px;
        max-width: 450px;
    }

    .features-link {
        width: 100%;
        height: 120px;
    }

}

.features-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--light-bg-color);
    border-radius: 4px;
    margin-bottom: 30px; 
}   

    
.feature-name {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    text-align: center;
}

.feature-descr {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contacts-descr-color);
}

@media screen and (min-width: 768px) {
    .features {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
    
    .features-point {
        flex-basis: calc((100% - 30px) / 2);
        max-width: 354px;
    }

    .features-icon {
        margin: 25px 142px;
    }
    
    .feature-name {
       text-align: left;
    }
}

@media screen and (min-width: 1200px) {

    .features {
        flex-wrap: nowrap;
    }

    .features-point {
        flex-basis: calc((100% - 60px) / 3)
    }

    .features-link {
        width: 270px;
        height: 120px; 
    }

    .features-icon {
        margin: 25px 100px;
    }
}