@media screen and (max-width: 767px) {
    .navigation-list {
        flex-wrap: wrap;
        max-width: 326px;
    }
    
    .gallery-works {
        display: block;
        flex-wrap: wrap;
    }

    .gallery-item {
        width: 100%;
    }
}

.navigation-list {
    display: flex;
    gap: 8px;
    margin-bottom: 40px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-item:focus {
    box-shadow: (0px 4px 4px 0px rgba(0, 0, 0, 0.25));
}

.navigation-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    border: none;
    text-align: center;
    letter-spacing: 0.03em;
    background: var(--light-bg-color);
    border-radius: 4px;
    padding: 6px 22px;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:focus {
        background-color: var(--accent-color);
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
        border-radius: 4px;
        color: var(--main-light-color);
    }
}

.gallery-item {
    background: #FFFFFF;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin-bottom: 30px;

    &:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
        cursor: pointer;
    }
}

.gallery-item-descr {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    border-top: none;
}

.project-name {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    margin-bottom: 4px; 
}

.project-type {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--contacts-descr-color);
}

.overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: var(--main-light-color);
    background-color: rgba(33, 150, 243, 0.9);
    padding: 63px 24px;
    overflow: auto;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .gallery-item:hover & {
        transform: translate(0, 0);
    }
}

.gallery-overlay-wrapper {
    position: relative;
    display: block;
    overflow: hidden;
}

@media screen and (min-width: 768px) {

    .navigation-list {
        flex-wrap: nowrap;
        min-width: 575px;
        justify-content: center;
        margin-bottom: 30px;
    }

    .gallery-works {
        display: flex;
        gap: 30px;
        flex-wrap: wrap;
    }
    
    .gallery-item {
        width: 354px;
        flex-basis: calc((100% - 30px) / 2);
        margin-bottom: 0;
    
        
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
            cursor: pointer;
        }
    }
    
}


@media screen and (min-width: 1200px) {
    .navigation-list {
        margin-bottom: 50px;
    }

    .navigation-list-item:hover,
    .navigation-list-item:focus {
    box-shadow: (0px 4px 4px 0px rgba(0, 0, 0, 0.25));
    }

    .navigation-btn {
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover {
            background-color: var(--accent-color);
            box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
            border-radius: 4px;
            color: var(--main-light-color);
        }
    }

    .gallery-item {
        width: 370px;
        flex-basis: calc((100% - 60px) / 3);
           
        &:hover,
        &:focus {
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
            1px 4px 6px rgba(0, 0, 0, 0.16);
            cursor: pointer;
        }
    }
  
    .gallery-item:hover.overlay {
            transform: translate(0, 0);
    }
    
    
}
