@media screen and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/hero/mobile/mobile-bg-image.jpg");
        max-width: 767px;
        
    }
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/hero/mobile/mobile-bg-image@2x.jpg");
    }
}

.hero {
    background-color: #C4C4C4;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    padding-top: 118px;
    padding-bottom: 118px;
}

.main-title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    color: var(--main-light-color);
    text-transform: uppercase;
    letter-spacing: 0.06em;
    text-align: center;
    max-width: 360px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 30px;
}

.hero__modal-btn {
    align-items: center;
    text-align: center;
}

.modal-btn {
    padding: 10px 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    color: var(--main-light-color);
    background: var(--accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover, 
    &:focus{
        background-color: var(--btn-bg-color);
    }
}

@media screen and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/hero/tablet/tablet-bg-image.jpg");
        max-width: 1199px;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
screen and (min-resolution: 192dpi) and (min-width: 768px),
screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/hero/tablet/tablet-bg-image@2x.jpg");
    }
}

@media screen and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/hero/desktop/desktop-bg-image.jpg");
        max-width: 1600px;
        padding: 200px 0px 200px;
    }

    .main-title {
        font-size: 44px;
        line-height: 1.36;
        max-width: 696px;
    }

    .modal-btn {
        padding: 10px 32px;
    }
}

@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/hero/desktop/desktop-bg-image@2x.jpg");
    }   
}




